<div class="border border-body">
  <h3>Randevu Kayıt</h3>
  <hr />

  <!-- Hasta Arama ve Seçimi -->
  <div class="autocomplete-container mb-3">
    <input type="text" class="form-control" [(ngModel)]="searchQuery" (input)="onPatientSearch()"
      (blur)="hideDropdown()" (focus)="showDropdown()" placeholder="Hasta Seçiniz" />
    <ul class="autocomplete-dropdown" *ngIf="isDropdownVisible && filteredPatients.length > 0">
      <!-- Hasta listesi -->
      <li *ngFor="let patient of filteredPatients" (click)="selectPatient(patient)">
        {{ patient.name }}
      </li>
    </ul>
  </div>

  <!-- Otomatik Doldurulan Alanlar -->
  <div *ngIf="selectedPatient">
    <div class="input-group mb-3">
      <span class="input-group-text">Cep Telefonu</span>
      <input type="text" class="form-control" [(ngModel)]="selectedPatient.mobileNo" readonly />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Şehir</span>
      <input type="text" class="form-control" [(ngModel)]="selectedPatient.city" readonly />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Yaş</span>
      <input type="number" class="form-control" [(ngModel)]="selectedPatient.age" readonly />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Cinsiyet</span>
      <input type="text" class="form-control" [(ngModel)]="selectedPatient.gender" readonly />
    </div>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Randevu Tarihi</span>
    <input type="date" class="form-control" [(ngModel)]="appointmentDate" />
  </div>

  <!-- Randevu Bilgileri -->
  <div class="input-group mb-3">
    <span class="input-group-text">Randevu Saati</span>
    <select class="form-control" [(ngModel)]="appointmentTime">
      <option value="" disabled selected hidden>Randevu Saati Seçiniz</option>
      <option *ngFor="let time of timeSlots" [value]="time">
        {{ time }}
      </option>
    </select>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Şikayet</span>
    <input type="text" class="form-control" [(ngModel)]="naration" placeholder="Şikayet" required />
  </div>
  <div class="buttons">
    <button class="btn btn-primary" (click)="saveAppointment()">Kaydet</button>
    <button class="btn btn-dark" (click)="resetForm()">Reset</button>
  </div>

</div>