<div class="border border-body d-flex gap-2">
  <h3 class="border-title">Randevu Kayıt</h3>
  <hr>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/name.png" alt="name"/>
    </span>
    <input type="text" class="form-control" placeholder="İsim" required />
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/name.png" alt="name" />
    </span>
    <input type="text"  class="form-control" placeholder="Soyisim" required />
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/apple-phone.png" alt="apple-phone"/>
    </span>
    <input type="text" class="form-control" mask="(000) 000 00 00" placeholder="Numara" required />
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/geography.png" alt="geography"/>
    </span>
    <select  class="form-control" required >
      <option value="" disabled selected hidden>Ülke Seçiniz</option>
      <option *ngFor="let city of country" [value]="city">{{ city }}</option>
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/age.png" alt="age"/>
    </span>
    <input type="number"  class="form-control" placeholder="Yaş" required/>
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/gender.png" alt="gender"/>
    </span>
    <select  class="form-control" placeholder="Cinsiyet" required  >
      <option value="" disabled selected hidden>Cinsiyet Seçiniz</option>
      <option value="Erkek">Erkek</option>
      <option value="Kadin">Kadin</option>
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/gender.png" alt="gender"/>
    </span>
    <select  class="form-control" placeholder="Randevu Saati" required  >
      <option value="" disabled selected hidden>Randevu Saati Seçiniz</option>
      <option value="11.45"></option>
      <option value="12.45">Kadin</option>
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/000000/gender.png" alt="gender"/>
    </span>
    <input type="text"  class="form-control" placeholder="Şikayet" required  />
  </div>
  <button class="btn btn-primary mt-3">Kaydet</button>
</div>