<div class="border border-body d-flex gap-2">
  <h3 class="border-title">Hasta Kayıt</h3>
  <hr>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" [src]="imgName" alt="name" />
    </span>
    <input type="text" [(ngModel)]="firstName" class="form-control" placeholder="İsim" required />
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" [src]="imgName" alt="name" />
    </span>
    <input type="text" [(ngModel)]="lastName" class="form-control" placeholder="Soyisim" required />
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" [src]="imgPhone" alt="apple-phone" />
    </span>
    <input type="text" [(ngModel)]="patient.mobileNo" class="form-control" mask="(000) 000 00 00" placeholder="Numara"
      required />
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" [src]="imgCountry" alt="country" />
    </span>
    <select [(ngModel)]="patient!.city" class="form-control" required>
      <option value="" disabled selected hidden>Ülke Seçiniz</option>
      <option *ngFor="let city of country" [value]="city">{{ city }}</option>
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" [src]="imgAge" alt="age" />
    </span>
    <input type="number" [(ngModel)]="patient.age" class="form-control" placeholder="Yaş" required />
  </div>
  <div class="input-group">
    <span class="input-group-text">
      <img width="20" height="20" [src]="imgGender" alt="gender" />
    </span>
    <select [(ngModel)]="patient.gender" class="form-control" placeholder="Cinsiyet" required>
      <option value="" disabled selected hidden>Cinsiyet Seçiniz</option>
      <option value="Erkek">Erkek</option>
      <option value="Kadin">Kadin</option>
    </select>
  </div>
  <button (click)="addPatient()" class="btn btn-primary mt-3">Kaydet</button>
</div>