<div class="main-content">
    <div *ngFor="let item of dashboardData">
        <div class="all-result">
            <div class="total-patients p-3 mb-3">
                <p>{{ item.totalPatients }}</p>
                <h6>Toplam Hasta</h6>
            </div>
            <div class="total-appointments p-3 mb-3">
                <p>{{ item.totalAppointments }}</p>
                <h6>Toplam Randevular</h6>
            </div>

            <div class="today-patients p-3 mb-3">
                <p>{{ item.todaysTotalAppointments }}</p>
                <h6>Bugünün Toplam Randevuları</h6>
            </div>
            <div class="today-appointments p-3 mb-3">
                <p>{{ item.todaysTotalDoneAppointments }}</p>
                <h6>Bugünün Toplam Tamamlanan Randevuları</h6>
            </div>
        </div>
    </div>
    <div class="second-content">
        <div class="get-today-appo p-3 mb-3">
            <h3>Bugünkü Randevular</h3>
            <div *ngIf="todayAppointments.length > 0; else noAppointments">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Hasta İsmi</th>
                            <th>Randevu Saati</th>
                            <th>Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appointment of todayAppointments; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ appointment.name }}</td>
                            <td>{{ appointment.appointmentTime }}</td>
                            <td>
                                <button class="btn btn-dark btn-sm" (click)="toggleDetails(i)">
                                    {{ selectedAppointment === todayAppointments[i] ? 'Kapat' : 'Detay Göster' }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #noAppointments>
                <p class="text-muted">Bugün hiç randevu yok.</p>
            </ng-template>
        </div>

        <div *ngIf="selectedAppointment" class="modal-backdrop">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Randevu Detayları</h5>
                </div>
                <br>
                <div class="modal-body">
                    <p><strong>Randevu Tarihi:</strong> {{ selectedAppointment.appointmentDate }}</p>
                    <p><strong>Randevu Saati:</strong> {{ selectedAppointment.appointmentTime }}</p>
                    <p><strong>Hasta İsmi:</strong> {{ selectedAppointment.name }}</p>
                    <p><strong>Telefon:</strong> {{ selectedAppointment.mobileNo }}</p>
                    <p><strong>Durum:</strong> {{ selectedAppointment.isDone ? 'Tamamlandı' : 'Tamamlanmadı' }}</p>
                    <p><strong>İlk Ziyaret Mi:</strong> {{ selectedAppointment.isFirstVisit ? 'Evet' : 'Hayır' }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="closeModal()">Kapat</button>
                </div>
            </div>
        </div>

        <div class="calender p-3 mb-3">
            <div class="full-calendar-wrapper">
              <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
          </div>
    </div>
</div>