.border-body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.table-result {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    height: auto;
    overflow: hidden;
    align-items: center;
}

.table th {
    padding: 20px;
    text-align: left;
}

.table-custom {
    vertical-align: middle;
    width: 100%;
    border-collapse: collapse;

}

.select-custom {
    max-width: 100px;
}

.input-custom {
    max-width: 300px;
}

.upper-side {
    display: flex;
    justify-content: space-between;
    /* Sol ve sağa yapışmasını sağlıyor */
    align-items: center;
    /* Dikey hizalamayı ortalıyor */
    padding: 30px;
    /* İsteğe bağlı olarak boşluk ekledik */
}

.page-filter {
    margin-right: auto;
    /* Sola yapışık */
}

.table-search {
    margin-left: auto;
    /* Sağa yapışık */
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-content {
    background: rgb(219, 219, 219);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 600px;
}

.modal-backdrop button {
    padding: 10px;
}

